/* Google fonts for font style. CITE: https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

/* Selecting all page using universal selector (*). */
* {
  box-sizing: border-box;
  background-color: #17213A;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* This is header of the page */
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 30px 10%;
}

/* Styling a h2 from header section of the HTML. */
.name-logo {
  background-color: black;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  transition: all 0.3s ease 0s;
  letter-spacing: 7px;
  font-size: 20px;
  color: White;
}

a span {
  background-color: black;
}

/* Added hever effect on span tag / logo */
span:hover {
  color: #6596d3;
}

/* This is the styling of the nav lists */
.nav-lists {
  list-style: none;
  background-color: black;
}

.nav-lists li {
  background-color: black;
  display: inline-block;
  padding: 0 20px;
}

.nav-lists li a {
  transition: all 0.3s ease 0s;
}

/* Styling a lists elements from header tag. */
li,
a {
  background-color: black;
  font-family: "DM Serif Text", serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.nav-lists li a:hover {
  color: #6596d3;
}

.contact-me {
  transition: all 0.3s ease 0s;
  border-radius: 40px 0 40px 0;
  background-color: #6596d3;
  padding: 7px 25px;
  border: none;
}

/* This interactive hover effect applies on Contact me link. */
.contact-me:hover {
  background-color: #569aecab;
}

form {
  background-color: #fff;
  width:  600px;
  height: 500px;
  margin-left: 500px;
  margin-top: 100px;
  border-radius: 15px;
  overflow: hidden;
}

.h2 {
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  background-color: #fff;
  text-align: center;
  line-height: 19px;
  color: #666B81;
}

p {
  background-color: #fff;
  padding: 10px 5px 20px 5px;
  color: #666B81;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.horizontalLine {
  background-color: grey;
  width: 600px;
  height: 1px;
}

.input-fields {
  background-color: #fff;
  color: #fff;
  padding-top: 10px;
  padding-left: 150px;
  line-height: 55px;
}

input {
  border: 1px solid lightgrey;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  width: 325px;
  height: 40px;
}

#comment {
  background-color: #fff;
  padding: 10px;
  width: 325px;
  height: 75px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

button {
  background-color: #7E889D;
  border: 1px solid lightgrey;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  font-size: 21px;
  width: 325px;
  height: 45px;
  margin-top: 0px;
  margin-left: 150px;
}

button:hover {
  background-color: #E89873;
}
