/* Google fonts for font style. CITE: https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

/* Selecting all page using universal selector (*). */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling a h2 from header section of the HTML. */
.name-logo {
  transition: all 0.3s ease 0s;
  font-size: 20px;
  color: White;
}

/* This is the background of the page */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

/* Added hever effect on span tag / logo */
span:hover {
  color: #6596d3;
}

/* Styling a lists elements from header tag. */
li,
a {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

/* This is the styling of the nav lists */
.nav-lists {
  list-style: none;
}

.nav-lists li {
  display: inline-block;
  padding: 0 20px;
}

.nav-lists li a {
  transition: all 0.3s ease 0s;
}

.nav-lists li a:hover {
  color: #6596d3;
}

.contact-me {
  background-color: #6596d3;
  padding: 7px 25px;
  border: none;
  transition: all 0.3s ease 0s;
  border-radius: 40px 0 40px 0;
}

/* This interactive hover effect applies on Contact me link. */
.contact-me:hover {
  background-color: #569aecab;
}

.contact-me:hover {
  background-color: #569aecab;
}

/* Styling for banner section and add a banner image*/
.banner-section {
  background-color: #7d7d83a1;
  background-image: url(../images/pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 75px;
  padding-top: 175px;
}

.banner-section p {
  color: white;
  font-size: 25px;
}

.banner-section span:hover {
  color: crimson;
}

/* This is the heading of the main container. */
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: rgba(10, 9, 9, 0.699);
}

#work-history {
  background-color: #6596d3;
  height: auto;
}
/* This is the styling for row component. */
.row {
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  background-color: rgba(137, 43, 226, 0.288);
  border: 1px solid rgba(49, 46, 46, 0.527);
  margin-bottom: 50px;
  /* transition: 0.1s; */
}

.card:hover {
  width: 20%;
  background-color: rgba(64, 226, 43, 0.404);
  border: 1px solid rgba(10, 70, 18, 0.658);
  margin-bottom: 50px;
  transition: 0.1s;
  transition-delay: .1s;
}

.card-header {
  background-color: rgba(137, 43, 226, 0.247);
  text-align: center;
  padding: 30px 10px;
  color: #d3375b;
}

.card-header:hover {
  background-color: rgba(43, 174, 226, 0.603);
  color: #2212fa9f;

}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #ff2b2b;
  text-align: center;
  text-decoration: none;
  padding: 10px 5px;
}

.card-body .btn:hover {
  color: rgb(0, 0, 0);
}

.card:hover {
  transition: scale(55);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.644);
}

/* Media qyery: for responsive effect on different diveces.
 This is for header and banner section of the HTML */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .banner-section {
    width: 100%;
  }
}

/* These media query is for main section of the HTML */

@media screen and (max-width: 900px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
  .heading {
    padding: 20px;
    font-size: 20px;
  }
  .card {
    width: 80%;
  }
}

/* This styling is for footer of the page. */
footer {
  background-color: black;
  height: 200px;
  color: white;
  text-align: center;
  padding-top: 90px;
}
